h1 {
  text-align: center;
}
header p {
  text-align: center;
  font-size: 1.2em;
}

.textBox {
  border: solid 2px black;
  display: inline-block;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  width: auto;
  height: auto;
  font-family: 'Courier New';
}
.buttons div {
  display: inline-block;
}
.buttons {
  display: inline-block;
  margin-left: 20%;
  margin-right: 20%;
}

.buttons button {
  padding: 10px;
  margin: 10px;
}

#typedText {
  display: inline-block;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  width: 100%;
  height: 40%;
}

#btn-textButton {
  margin-top: 12px;
  margin-left: 62%;
  margin-right: 20%;
  position: float;
}
