body {
  margin: 0%;
  background-color: rgb(230, 230, 230);
}
header {
  width: 100%;
  font-size: 2em;
  background-color: rgb(66, 76, 163);
  padding: 20px;
  text-align: center;
  color: white;
  font-family: "Comfortaa", cursive;
}
header h1 {
  margin: 20px;
}
nav {
  width: 100%;
  background-color: rgb(74, 87, 199);
  position: absolute;
}
nav a {
  color: white;
  padding: 15px;
  display: block;
  overflow: hidden;
  font-family: "Fredoka One", cursive;
  font-size: 1.2em;
  text-decoration: none;
  float: right;
}
nav a:hover {
  background-color: rgb(50, 76, 221);
}

.general-table h2 {
  padding: 1%;
  margin-top: 4%;
}
.general-table {
  font-family: "Roboto", sans-serif;
  margin: 1%;
  width: 80%;
}
.general-info {
  padding: 20px;
  font-size: 1.2em;
  border: unset 20px;
  display: inline-block;
  width: 65%;
  height: auto;
  background-color: rgb(221, 219, 219);
}
aside {
  margin-top: 500px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(221, 219, 219);
  width: 40%;
  height: auto;
  float: right;
  text-align: center;

  /* margin-right: 200px; */
}

aside p {
  background-color: pink;
  font-size: 1.5em;
  text-align: center;
}

table {
  margin-left: 33%;
  width: 35%;
  font-size: 1.3em;
  display: block;
  border: 1px solid black;
  border-collapse: initial;
  text-align: center;
  border-spacing: auto;
}

main {
  padding: 20px;
  width: 65%;
}
.article-info {
  border: solid 0.5px;
  margin: 2px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  display: inline-block;
  width: 80%;
  padding: 20px;
  background-color: rgb(221, 219, 219);
}

img {
  width: 300px;
  border: 1px solid black;
  padding: 2px;
}
footer {
  display: block;
  background-color: rgb(66, 76, 163);
  color: white;
  height: 60px;
}
footer p {
  text-align: right;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  margin: 20px;
}
