.pokemon {
  display: flexbox;
  flex-flow: column nowrap;
  justify-content: center;
  max-width: 350px;
}

.pokedex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.btns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.btn {
  margin: 5px;
}

.pokediv {
  max-width: 250px;
  color: blue;
}

.text-center {
  width: 300px;
  height: 500px;
}
