header {
  text-align: center;
  font-size: 20px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 60%;
  border: 2px solid black;
  padding: 20px;
}

#rgb-color-div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#rgb-color {
  text-align: center;
  font-size: 20px;
  width: 150px;
  height: 30px;
  border: 1px solid black;
}

.ball {
  margin-top: 10px;
  border: 4px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: black;
}

#color-palette {
  display: flex;
  justify-content: center;
}

#answer-div {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#reset-game {
  margin-left: 20px;
}

#score-div {
  display: flex;
  justify-content: center;
}

#score {
  font-size: 20px;
}
