.ordered-list {
    background: yellow;
    }
.ordered-list li:nth-of-type(2n){
    color:green;
    }
.primo {
    text-transform:uppercase;
}
h1, h2, h3{
    color:red;
    }
/* h1 {
    font-size: 40px; */
h1 em {
    font-size: 40px;
    border: solid;
    border-color: black;
    border-width: 1px;
    }
li{
    font-size: 20px;
}
li em{
    font-weight:bold;
}
.language-list li:nth-child(-n +3){
    color: blue;
}
ul li[value*="Java"]{
    background-color: pink;
    }
a[href="https://pt.stackoverflow.com/"]:hover {
    color:orange;
   }

a[href="https://www.w3schools.com/"]:hover {
    color:green}
a[href="https://developer.mozilla.org/pt-BR/"]:hover {
    color:black;
}
a[ href="https://devdocs.io/"]:hover {
    color:yellow;
}
a[ href="https://app.betrybe.com/"]:hover {
    color:green;
}
/* Defining Font Weight  */
a[ href^="https://"]:hover {
   font-weight: bold;
}