body {
  margin: 0%;
}
header {
  width: 100%;
  font-size: 2em;
  background-color: rgb(66, 76, 163);
  padding: 40px;
  text-align: center;
  color: white;
  font-family: "Comfortaa", cursive;
}
nav {
  width: 100%;
  background-color: rgb(74, 87, 199);
  position: absolute;
}
nav a {
  color: white;
  padding: 15px;
  display: block;
  overflow: hidden;
  font-family: "Fredoka One", cursive;
  font-size: 1.2em;
  text-decoration: none;
  float: right;
}
nav a:hover {
  background-color: rgb(50, 76, 221);
}

.facts h2 {
  font-family: "Roboto", sans-serif;
  margin-top: 4%;
  margin-left: 2%;
}
/* prettier-ignore  */
main, article {
  margin-left: 20px;
}
/* prettier-ignore  */
table, th, td, tr {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  width: auto;
  font-size: 1.3em;
}

aside {
  width: 30%;
  float: right;
}
.info {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  width: 60%;
  height: auto;
  padding: 20px;
  background-color: rgb(199, 199, 199);
}

.article-info,
.facts {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  width: 60%;
  height: auto;
  padding: 20px;
  background-color: rgb(199, 199, 199);
}

img {
  width: 300px;
  border: 1px solid black;
  padding: 2px;
}
.facts {
  width: 100%;
}
