.title {
  text-align: center;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.pokediv {
  width: 40%;
  max-height: 200px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 10px;
  margin-left: 20px;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 5px;
}
main :last-child {
  width: 90%;
}

img {
  max-height: 200px;
  max-width: 200px;
  min-width: 50px;
  min-height: 50px;
  height: auto;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
  .pokediv {
    align-self: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    width: 80%;
  }
  img {
    min-width: 50px;
    max-width: 150px;
    min-height: 50px;
    height: auto;
    overflow: hidden;
  }
}

.poke-Name {
  text-align: center;
  font-weight: bold;
}

p {
  text-align: center;
}
