h1 {
  text-align: center;
}

.first {
  background-color: rgb(235, 200, 84);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 200px;
  margin: auto;
  display: block;
}

.second {
  background-color: rgb(219, 219, 219);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
  display: inline-block;
  margin-left: 33.33%;
  margin-right: auto;
}

.third {
  background-color: rgb(170, 142, 106);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
  display: inline-block;
  margin-left: auto;
  margin-right: 33.33%;
}
h3 {
  text-align: center;
}
.gift1 {
  display: inline-block;
  text-align: center;
  margin: auto;
}
.gift2 {
  display: inline-block;
  text-align: center;
  margin: auto;
}
.premium {
  text-align: center;
}
