body {
  margin: 20px;
  background-color: rgb(223, 236, 240);
}
h1 {
  font-size: 1.5em;
  text-align: center;
}
h2 {
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

p {
  font-size: 1.25em;
  text-align: justify;
}

figure {
  text-align: center;
  font-size: 1.25em;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Screen abaixo de 600px */
@media screen and (max-width: 600px) {
  #text {
    padding: 10px;
  }
  body {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    text-align: center;
    font-size: 1.5em;
  }

  .gallery-container {
    display: flex;
    flex-flow: column nowrap;
  }

  .gallery {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-sizing: content-box;
  }

  figure {
    border: 2px solid black;
    border-radius: 5%;
    margin: 10px;
  }
  figure img {
    max-width: 100%;
    border-radius: 4% 4% 0 0;
  }

  figcaption {
    margin: 5px;
  }
}

/* Screen acima de 600px até 800*/
@media screen and (min-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  h1 {
    text-align: center;
    font-size: 4em;
  }
  h2 {
    text-align: center;
    font-size: 3em;
  }

  .gallery-container {
    border-radius: 5%;
    padding: 20px;
    background-color: rgb(251, 217, 255);
    display: flex;
    flex-flow: row nowrap;
  }

  .gallery {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-sizing: content-box;
  }

  figure {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5%;
    margin: 10px;
  }
  figure img {
    max-width: 100%;
    border-radius: 4% 4% 0 0;
  }

  figcaption {
    margin: 5px;
  }
}
