* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: aliceblue;
}

header {
  display: flex;
  background-color: #333333;
  color: white;
  flex-flow: column nowrap;
  padding-bottom: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

nav ul li {
  border: 1px solid rgb(0, 0, 0);
  color: white;
  border-radius: 8%;
  background-color: rgb(145, 145, 145);
  padding: 5px;
  margin: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header p {
  font-size: 2.5em;
  font-weight: bold;
  font-family: Georgia;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  font-size: 2em;
}

.main-content {
  text-align: justify;
  font-size: 1.25em;
  padding: 15px;
  line-height: 145%;
  margin: 15px;
}

.main-content p {
  padding: 2px;
}

.main-content h1 {
  text-align: center;
  font-size: 1.25em;
}

.aside-bars {
  padding: 30px;
}

footer {
  justify-content: center;
  background-color: #333333;
  padding: 20px;
  color: white;
}
/* Screen max 600px width  -- small devices*/
@media screen and (max-width: 600px) {
  .aside-one,
  .aside-two {
    margin-left: 15px;
  }

  nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }

  nav ul li {
    border: 1px solid rgb(0, 0, 0);
    color: white;
    border-radius: 8%;
    background-color: rgb(145, 145, 145);
    padding: 5px;
    margin: 10px;
    text-transform: uppercase;
    font-size: 0.8em;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  #listLinks {
    display: none;
  }

  header a.icon {
    align-self: flex-end;
    text-align: center;
    width: 3vh;
    background-color: grey;
    padding: 10px;
  }

  header {
    margin: 10px;
  }
}

/* Medium devices - 600 to 1000px */
@media screen and (min-width: 600px) and (max-width: 1000px) {
  header a.icon {
    display: none;
  }

  .aside-bars {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
}

/* Large devices - above 1000px */
@media screen and (min-width: 1000px) {
  header a.icon {
    display: none;
  }
  #listLinks {
    display: flex;
  }
  .aside-bars {
    background-color: #3333;
    border-top: 5px solid rgb(168, 168, 168);
    border-right: 5px solid rgb(168, 168, 168);
    padding-right: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
  }

  nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }

  main {
    display: flex;
    flex-flow: row nowrap;
  }
}
