body {
  margin: 0;
}
header {
  margin-left: 20px;
  text-align: center;
}
fieldset {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  font-size: 20px;
  padding: 5px;
}

#personal-data {
  margin-bottom: 20px;
}

fieldset input {
  margin: 2px;
}

#cv-resume {
  width: 80%;
  min-height: 500px;
  margin-top: 10px;
}
